In [1]:
import datacube
from odc.ui import DcViewer

In [2]:
dc = datacube.Datacube()

In [3]:
products = dc.list_products()

display_columns = ["name",
                   "description",
                   "default_crs",
                   "default_resolution"]

products[display_columns].sort_index()

,name,description,default_crs,default_resolution
name,,,,
copernicus_dem_30,copernicus_dem_30,Copernicus 30m Digital Elevation Model (GLO-30),None,None
landsat5_c2l2_sr,landsat5_c2l2_sr,Landsat 5 Collection 2 Level-2 Surface Reflect...,None,None
landsat5_c2l2_st,landsat5_c2l2_st,Landsat 5 Collection 2 Level-2 UTM Surface Tem...,None,None
landsat7_c2l2_sr,landsat7_c2l2_sr,Landsat 7 USGS Collection 2 Surface Reflectanc...,None,None
landsat7_c2l2_st,landsat7_c2l2_st,Landsat 7 Collection 2 Level-2 UTM Surface Tem...,None,None
landsat8_c2l1,landsat8_c2l1,Landsat 8 Collection 2 Level-1 (top of atmosph...,None,None
landsat8_c2l2_sr,landsat8_c2l2_sr,"Landsat 8 Collection 2 Surface Reflectance, pr...",None,None
landsat8_c2l2_st,landsat8_c2l2_st,Landsat 8 Collection 2 Level-2 UTM Surface Tem...,None,None
landsat9_c2l1,landsat9_c2l1,Landsat 9 Collection 2 Level-1 (top of atmosph...,None,None
landsat9_c2l2_sr,landsat9_c2l2_sr,"Landsat 9 Collection 2 Surface Reflectance, pr...",None,None
landsat9_c2l2_st,landsat9_c2l2_st,Landsat 9 Collection 2 Level-2 UTM Surface Tem...,None,None
lpdaac_nasadem,lpdaac_nasadem,NASADEM Merged DEM Global 1 arc second V001,None,None
nasa_aqua_l2_oc,nasa_aqua_l2_oc,"NASA MODIS-Aqua L2 Ocean Color, regridded to W...",EPSG:4326,"(0.01, 0.01)"
nasa_aqua_l2_sst,nasa_aqua_l2_sst,"NASA MODIS-Aqua L2 Sea Surface Temperature, re...",EPSG:4326,"(0.01, 0.01)"
s2_l2a,s2_l2a,"Sentinel-2a and Sentinel-2b imagery, processed...",None,None

In [4]:
product = "s2_l2a"

measurements = dc.list_measurements()
measurements.loc[product]

,name,dtype,units,nodata,aliases,flags_definition
measurement,,,,,,
B01,B01,uint16,1,0,"[band_01, coastal_aerosol]",NaN
B02,B02,uint16,1,0,"[band_02, blue]",NaN
B03,B03,uint16,1,0,"[band_03, green]",NaN
B04,B04,uint16,1,0,"[band_04, red]",NaN
B05,B05,uint16,1,0,"[band_05, red_edge_1]",NaN
B06,B06,uint16,1,0,"[band_06, red_edge_2]",NaN
B07,B07,uint16,1,0,"[band_07, red_edge_3]",NaN
B08,B08,uint16,1,0,"[band_08, nir, nir_1]",NaN
B8A,B8A,uint16,1,0,"[band_8a, nir_narrow, nir_2]",NaN
B09,B09,uint16,1,0,"[band_09, water_vapour]",NaN
B11,B11,uint16,1,0,"[band_11, swir_1, swir_16]",NaN
B12,B12,uint16,1,0,"[band_12, swir_2, swir_22]",NaN
SCL,SCL,uint8,1,0,"[mask, qa]","{'qa': {'bits': [0, 1, 2, 3, 4, 5, 6, 7], 'val..."
AOT,AOT,uint16,1,0,[aerosol_optical_thickness],NaN
WVP,WVP,uint16,1,0,[scene_average_water_vapour],NaN

In [5]:
DcViewer(dc=dc,
         time='2017',
         center=(0.565, 38.007),
         zoom=6)

VBox(children=(HBox(children=(Dropdown(layout=Layout(flex='0 1 auto', width='10em'), options=('copernicus_dem_…